.login-button{
    height: 60px;
    width: 100%;
    background-color: green;
    color: lightgray;
    margin-top: 30px;
}

.login-form {
    min-width: 150px;
    max-width: 450px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
    border-radius: 50px;
    text-align: center;
  }