<div>
    <h2 matDialogTitle>Kindly enter login details:</h2>
<mat-dialog-content>
    <form novalidate class="signup-form" [formGroup]="user" (ngSubmit)="onSubmit(user)">
<mat-form-field class="login-full-width">
    <input matInput placeholder="Email" formControlName="email">
    <!-- <mat-error *ngIf="signupForm.hasError('pattern')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="signupForm.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>

<mat-form-field class="login-full-width">
    <input matInput type="password" placeholder="password" formControlName="password">
    <!-- <mat-error *ngIf="signupForm.hasError('required')">
      Password is <strong>required</strong>
    </mat-error> -->
  </mat-form-field> 
   <button mat-raised-button  type="submit" [disabled]="user.invalid" class="login-button" >Login</button>
</form>
</mat-dialog-content>
</div>