.signup-form {
  max-width: 450px;
  width: 100%;
}

.signup-full-width {
  border-radius: 50px;
  text-align: center;
}

.signup-half-width{
    width: 60%;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20%;
}
  /deep/ .mat-dialog-content{
max-height: 100%;
  }
/* 
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; // green 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; // red
} */

.signup-button{
    height: 60px;
    width: 100%;
    background-color: green;
    color: lightgray;
    margin-top: 30px;
}

.mat-dialog-container{
    border-radius: 20px;
}

.error{
  color: red;
  text-align: center;
  font-size: 10px;
}
mat-form-field {
  width:90%;
}