<div>
    <h2 matDialogTitle>Let's get to know each other</h2>
    <div>
        <form novalidate class="signup-form" [formGroup]="user" (ngSubmit)="onSubmit(user)">
            <div class="col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="First name" maxlength="20" formControlName="firstname"
                           (keypress)="omit_special_char($event)" (keydown.space)="$event.preventDefault()">
                </mat-form-field>
                <div class="error"
                     *ngIf="user.get('firstname').hasError('minlength') && user.get('firstname').touched">
                    <p>PLease enter a min of 3 characters</p>
                </div>
                <div class="error"
                     *ngIf="user.get('firstname').hasError('required') && user.get('firstname').touched">
                    <p>First name is required</p>
                </div>
            </div>
            <div class="col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Last name" maxlength="20" formControlName="lastname"
                           (keypress)="omit_special_char($event)" (keydown.space)="$event.preventDefault()">
                </mat-form-field>
                <div class="error"
                     *ngIf="user.get('lastname').hasError('minlength') && user.get('lastname').touched">
                    <p>PLease enter a min of 3 characters</p>
                </div>
                <div class="error"
                     *ngIf="user.get('lastname').hasError('required') && user.get('lastname').touched">
                    <p>Last name is required</p>
                </div>
            </div>
            <div class="col-xs-12">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="user.get('email').hasError('email') && user.get('email').touched">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12">

                <mat-form-field>
                    <input matInput type="password" placeholder="password" formControlName="password">
                    <!-- <mat-error *ngIf="signupForm.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-xs-12">
                <mat-form-field>
                    <span matPrefix>+234 &nbsp;</span>
                    <input type="number" min="0" step="1" matInput placeholder="Telephone" maxlength="10"
                           formControlName="telephone">
                    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                </mat-form-field>
                <div class="error" *ngIf="user.get('telephone').hasError('pattern') && user.get('telephone').touched">
                    <p>Valid telephone Format: 07XXXXXXXX, 08XXXXXXXX, 09XXXXXXXX</p>
                </div>
            </div>
            <button mat-raised-button type="submit" [disabled]="user.invalid" class="signup-button">Continue</button>
        </form>
    </div>
</div>