.account-header{
    margin-left: 50px;
    margin-top: 50px;
}
    a {
        font-size: 34px;
        text-decoration: none;
        margin-right: 80px;
        color: gray;
        font-weight: 200;
    }

    a:active {
        color: black;
    }
  //}

.account-body{
    margin-bottom: 300px;
}