<mat-list>
        <mat-list-item *ngFor="let item of items">
            <table>
                <tr>
                    <td>
                        <mat-icon mat-list-icon>looks_{{item.number}}</mat-icon>
                    </td>
                    <td style="width: 70%">
                        <h3 matLine> {{item.name}}</h3>
                    </td>
                </tr>
            </table>
        </mat-list-item>
    </mat-list>