.rsvp-header{
    margin-left: 80px;
    margin-top: 40px
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
  }
  
  .rsvp-body{
    margin-left: 100px;
    margin-right: 100px;
    color: gray;
  }

  a {
    text-decoration: none;
    margin-right: 40px;
    color: gray;
    font-weight: 200;
  }