<nav class="rsvp-header">
        <a [routerLink]="['accept']">Accepts with Pleasure</a>
        <a [routerLink]="['decline']">Declines with Regrets</a>
    </nav>
    <hr/>

    <div class="rsvp-body">
    <router-outlet></router-outlet>
        </div>