<div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div>

<!-- <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
    {{alert.message}}
    <a class="close" (click)="removeAlert(alert)">&times;</a>
</div> -->