<div class="docs-homepage-row">
  <br/><br/>
<br/>
<div style="text-align:center">
<h3 >Summary: Order {{this.gs.currentorder._id}}. <p (click)="this.setEnableEdit()" style="color:aqua;" >Edit</p> </h3>
</div>
<br/><br/>
  <form novalidate class="example-form" [formGroup]="orderView" (ngSubmit)="onSubmit(orderView)">

    <!-- <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1"> -->
          <div class="content"
          fxLayout="row"
          fxLayout.xs="column"
          fxFlexFill >
        <div fxFlex="33" fxFlex.sm="20"  class="sec1" ></div>
        <div class="placeorder-body" fxFlex="33" fxFlex.sm="60">
          <h2>Event Name:</h2>
          <p>
            <mat-form-field class="example-full-width le-input">
              <input matInput placeholder="Add event #hastag or a clear name" maxlength="20" floatPlaceholder="never" formControlName="eventname" [disableControl]="this.disable"
                (keypress)="omit_special_char($event)" (keydown.space)="$event.preventDefault()">
            </mat-form-field>
          </p>

          <div class="error" *ngIf="orderView.get('eventname').hasError('required') && orderView.get('eventname').touched">
            <p>
              Eventname is required
            </p>
          </div>
          <div class="error" *ngIf="orderView.get('eventname').hasError('minlength') && orderView.get('eventname').touched">
            <p>Minimum of 3 characters</p>
          </div>
          <div class="error" *ngIf="orderView.get('eventname').hasError('maxlength')  && orderView.get('eventname').touched">
            <p>Maximum of 20 characters</p>
          </div>
        </div>
        <div fxFlex="33" fxFlex.sm="20"></div>
</div>
      <!-- </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile> -->

      <!-- <mat-grid-tile [colspan]="1" [rowspan]="1"> -->
          <div class="content"
          fxLayout="row"
          fxLayout.xs="column"
          fxFlexFill >
        <div fxFlex="33" fxFlex.sm="55" class="placeorder-body">
          <h2> Category </h2>
          <p>
            <mat-form-field class="le-input" *ngIf="!this.disable">
            <mat-select placeholder="Select a category" formControlName="typeId"  (ngModelChange)="resetCategory()">
              <mat-option *ngFor="let type of categories" [value]="type">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width le-input" *ngIf="this.disable">
              <input matInput  maxlength="20" floatPlaceholder="never"  formControlName="type" [disableControl]="disable">
            </mat-form-field>
          </p>
          <div class="error" *ngIf="orderView.get('type').hasError('required') && orderView.get('type').touched">
            <p>Category is required</p>
          </div>
        </div>
      <!-- </mat-grid-tile> -->
      <div fxFlex="33" fxFlex.sm="10"></div>
      <!-- <mat-grid-tile [colspan]="2" [rowspan]="1"> </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"> -->
        <div fxFlex="33" fxFlex.sm="55" class="placeorder-body">
          <h2>Host:</h2>
          <p>
            <mat-form-field class="example-full-width le-input">
              <input matInput placeholder="Who's hosting the event" [disableControl]="this.disable" maxlength="20" floatPlaceholder="never" formControlName="host" (keypress)="omit_special_char($event)"
                (keydown.space)="$event.preventDefault()">
            </mat-form-field>
          </p>
          <div class="error" *ngIf="orderView.get('host').hasError('required') && orderView.get('host').touched">
            <p> Host is required</p>
          </div>
          <div class="error" *ngIf="orderView.get('host').hasError('minlength') && orderView.get('host').touched">
            <p> Minimum of 3 characters</p>
          </div>
          <div class="error" *ngIf="orderView.get('host').hasError('maxlength') && orderView.get('host').touched">
            <p> Maximum of 20 characters</p>
          </div>
        </div>
        </div>
      <!-- </mat-grid-tile>
    </mat-grid-list> -->

    <div *ngIf="!orderView.controls.category.value && this.disable == false">
      <mat-grid-list cols="{{orderView.controls.typeId.value.type?.length}}" rowHeight="200px" *ngIf="orderView.controls.typeId && orderView.controls.typeId.value.type?.length > 1">
        <div>
          <mat-grid-tile [colspan]="" [rowspan]="1" *ngFor="let category of orderView.controls.typeId.value.type">

            <docs-svg-viewer src="../assets/img/place-orders/{{category.name}}.svg" width="60%" height="60%"></docs-svg-viewer>
          </mat-grid-tile>
        </div>
        <div>
          <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let category of orderView.controls.typeId.value.type">

            <mat-radio-group class="example-radio-group" formControlName="category">
              <mat-radio-button class="example-radio-button" [value]="category">
                {{category.name}}
              </mat-radio-button>
            </mat-radio-group>

          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
    <mat-grid-list cols="4" rowHeight="200px" *ngIf="orderView.controls.category.value">
        <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div>
        <docs-svg-viewer src="../assets/img/place-orders/{{orderView.controls.category.value.name}}.svg" width="60%" height="60%"></docs-svg-viewer>
      </div>
      </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="200px" *ngIf="this.disable">
        <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div>
        <docs-svg-viewer src="../assets/img/place-orders/{{this.gs.currentorder.category}}.svg" width="60%" height="60%"></docs-svg-viewer>
      </div>
      </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>


    <div formArrayName="dates">
      <div *ngFor="let datte of orderView['controls'].dates['controls']; let i=index" class="panel panel-default">
        <div class="center-width" *ngIf="orderView['controls'].dates['controls'].length > 1">
          <h2>Date {{i + 1}}</h2>
        </div>
        <div [formGroupName]="i">
          <div class="form-group" *ngIf="orderView.controls.dates.controls.length > 1">
            <label class="center-width">Label: </label>
            <mat-form-field class="center-width le-input">

              <input matInput placeholder="This applies to the xxxx event" maxlength="20" formControlName="label">

              <mat-icon matSuffix (click)="removeDate(i)">cancel</mat-icon>
            </mat-form-field>
          </div>
          <div class="content dateSection"
          fxLayout="row"
          fxLayout.xs="column"
          fxFlexFill >
          <div fxFlex="{{this.f0}}" fxFlex.sm="{{this.s0}}"></div>
            <div fxFlex="{{this.f1}}" fxFlex.sm="{{this.s1}}">
              <h2>Date & Time</h2>
              <mat-form-field class="placeorder-body-date1">
                <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" [disabled]="true" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngIf="this.showrsvp[i]" fxFlex="{{this.f2}}" fxFlex.sm="{{this.s2}}">
              <h2>RSVP</h2>
              <mat-form-field class="placeorder-body-date2">
                <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" formControlName="rsvpdate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
               (ngChange)="rsvpCompleted(i)"></mat-form-field>
            </div>
            <div *ngIf="!this.showrsvp[i] || this.rsvpdone[i]" fxFlex="{{this.f0}}" fxFlex.sm="{{this.s0}}">
              <h2>(RSVP)</h2>
                <mat-icon style="font-size:30px;" *ngIf="!this.showrsvp[i]" (click)="showrsvpButton(i)">date_range</mat-icon>
                <mat-icon style="font-size:30px; color: green" *ngIf="this.rsvpdone[i]" (click)="showrsvpButton(i)">check_circle</mat-icon>
            </div>
            <div class="error-body-date">
              <div fxFlex="50" class="error" *ngIf="datte.controls.date.hasError('minDate') && datte.controls.date.touched">
                <p> LFE order has to be a minimum of 7days. Please contact admin support : 090-8600000-89 for further assistance.</p>
              </div>
              <div fxFlex="50" class="error" *ngIf="datte.controls.rsvpdate.hasError('minDate') && datte.controls.rsvpdate.touched">
                <p>RSVP date cannot be less than event date</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<br/><br/><br/>
    <div formArrayName="addresses">
      <div *ngFor="let addr of orderView['controls'].addresses['controls']; let j=index" class="panel panel-default">

        <div class="content"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxFlexFill [formGroupName]="j">
          <div fxFlex="5"></div>
          <div fxFlex="45" class="placeorder-body-location">
            <div *ngIf="orderView.controls.addresses.controls.length == 1">
              <h2>Location(s)</h2>
            </div>
            <div *ngIf="orderView.controls.addresses.controls.length > 1">
              <h2>Location {{j + 1}}</h2>
            </div>
            <div class="form-group" *ngIf="orderView.controls.addresses.controls.length > 1">
              <mat-form-field class="location-width le-input">
                <label>Label: </label>
                <input matInput placeholder="This applies to location {{j + 1}}" maxlength="20" formControlName="label">
                <mat-icon matSuffix (click)="removeAddress(j)">cancel</mat-icon>
              </mat-form-field>
            </div>
              <mat-form-field class="location-width input le-input">
                <input matInput placeholder="Enter a place or address" [disableControl]="true" formControlName="address" #search>
              </mat-form-field>
          </div>

          <!-- <div class="error" *ngIf="order.controls.addresses.controls[j].get('address').hasError('required') && order.controls.addresses.get('address').touched">
              <p>Location is required </p>
            </div> -->
          <div fxFlex="45" class="placeorder-body-map">
            <!-- <div class="placeorder-body-map" *ngFor="let loc of order.controls.addresses.controls; let k=index"> -->
            <h3> select location on map</h3>
            <agm-map value="map" [latitude]="latitude[j]" [longitude]="longitude[j]" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude[j]" [longitude]="longitude[j]" [markerDraggable]="true" [iconUrl]="'../assets/img/place-orders/location-marker.svg'"></agm-marker>
            </agm-map>
          </div>
          <div fxFlex="5"></div>
        </div>
      </div>

    </div>
    <div class="content upload"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxFlexFill>
        <div fxFlex id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">

          <div class="upload_button_holder">
              <h2>Edit Design  <mat-icon>camera_alt</mat-icon> </h2>

            <mat-form-field class="img-input">
              <input matInput class="upload_button" for="fileupload" disabled>
            </mat-form-field>
            <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
              multiple />
          </div>
          <div class="file" *ngFor="let response of responses; let i = index">
            <mat-icon matSuffix *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">cancel</mat-icon>
            <div *ngIf="!response.status" class="status">
              Uploading... {{response.progress}}%
            </div>
            <div class="status-code" *ngIf="response.status == '200'">Upload completed successfully</div>
            <mat-progress-bar class="example-margin" [color]="primary" [mode]="determinate" [value]="response.progress" [bufferValue]="response.progress">
            </mat-progress-bar>

            <!-- <div class="info"><p>
              {{ response.data.secure_url }}</p>
            </div> -->
          </div>
        </div>
    </div>
    <div fxFlexFill class="submit-button" style="display: grid" *ngIf="this.disable">
      <button style="border: none;background: transparent;cursor: pointer" [disabled]="orderView.invalid" type="submit">
        <docs-svg-viewer src="../assets/img/place-orders/PreviewonLara.svg" width="40%" height="40%"></docs-svg-viewer>
      </button>
    </div>
    <div fxFlexFill class="submit-button" style="display: grid" *ngIf="!this.disable" >
        <button style="border: none;background: transparent;cursor: pointer"  type="submit">
          <docs-svg-viewer src="../assets/img/place-orders/Place Order.svg" width="40%" height="40%"></docs-svg-viewer>
        </button>
      </div>
  </form>

</div>
