/* ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; //green
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; //red
} */

agm-map {
  height: 400px;
  width: 450px;
}


.input-control {
  width: 33.33%;
  min-width: 200px;
  margin: 0;
  padding: 0 1rem;
}

label {
  display: block;
}

.btn-milestone{
  border: none;
}

/deep/ .calendar-btn {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: .5em;
  background-color: #00B5AD;
  cursor: pointer;
}

.error{
  color: red;
}

.placeorder-body-date1{
  // float:left;
  margin-right:20px;
  width:400px;
  height: 150px;
  // margin-left: 300px;
}

.error-body-date{
  text-align: center;
}

.placeorder-body-date2{
  overflow:hidden;
  margin:10px;
  width: 300px;
  min-height:150px;
}

.placeorder-body-location{
  // float:left;
  // margin-right:20px;
  // width:300px;
  // min-height: 200px;
  text-align: center;
}

.placeorder-body-map{
  overflow:hidden;
  margin:10px;
  max-height: 300px;
  min-height:200px;
  text-align: center
}

.location-width{
  width: 400px;
}

.center-width{
  text-align: center;
  display: block;
  width: 300px;
  /* align-self: unset; */
  position: relative;
  margin: 0px auto;
}
.add-more{
  // margin-left: 70%;
  text-align: center;
  font-weight: 700;
  color: green;
}
.wrapper {
  border : 2px solid #000;
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

@media screen and (max-width: 400px) {
  .placeorder-body-date1{
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}

@media screen and (max-width: 700px) {


  .location-width{
    min-width: 250px;
  }
}

.upload{
  text-align: center
}

// @media screen and (max-width: 400px) {
//   .placeorder-body-location{
//     float: none;
//     margin-right:0;
//     margin-left:0;
//     width:auto;
//     border:0;
//   }
// }

.dateSection{
  text-align: center
}
