<div *ngIf="!this.gs.loggedIn">
    <h4> Kindly Signup or Login to view the milestone of your orders.</h4>
</div>
<div *ngIf="this.gs.loggedIn">
    <div style="margin-left: 2%; margin-right:2%">
        <h1 style="color='#3e3939';"> Milestones</h1>
    </div>
    <div class="table-container mat-elevation-z8 visible-lg visible-md visible-sm">
        <mat-table #table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}}</mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
                <mat-cell *matCellDef="let element" [style.color]="grey"> Pending</mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a mat-raised-button class="milestone-button" [disabled]="element.disable" routerLink=".">Make Payment by
                        {{date.toDateString()}}</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <!--Mobile Table View-->
    <div class="visible-xs mobile-table" *ngFor="let mobileData of dataForMobile">
        <div class="heading"> Description: <span>{{mobileData.description}}</span></div>
        <div class="heading"> Amount <span>{{mobileData.amount}}</span></div>
        <div class="heading"> Status <span>Pending</span></div>
        <div class="heading"> Action <span>Make payment by {{date.toDateString()}}</span></div>
    </div>
    <div>
        <br/>
        <br/>
    </div>
    <div style="margin-left: 2%; margin-right:2%; color: rgba(171, 164, 164, 0.87);">
        <h3>Optional Add-on</h3>
        <p>
            <mat-checkbox>Aerial View with Drones to capture the landscape of the event location - N50, 000.
            </mat-checkbox>
        </p>
    </div>
    <div>
        <br/>
        <br/>
    </div>
    <div style="color: rgba(171, 164, 164, 0.87);" class="col-md-12">
        <h1>Payment Methods</h1>
        <p>Pay with ATM Card, or Bank Transfer</p>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div>
                    <docs-svg-viewer src="../assets/img/place-orders/Card Payment.svg" width="50%"
                                     height="50%"></docs-svg-viewer>
                </div>

                <mat-radio-group class="example-radio-group" [(ngModel)]="payment">
                    <mat-radio-button class="example-radio-button" name="bank" value="bank">
                        Bank Transfer
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-3 col-xs-12" style="margin-left: -15px">
                <div>
                    <docs-svg-viewer src="../assets/img/place-orders/Bank Transfer.svg" width="5vev0%"
                                     height="50%"></docs-svg-viewer>
                </div>
                <mat-radio-group class="example-radio-group" [(ngModel)]="payment">
                    <div class="col-md-3">
                        <mat-radio-button class="example-radio-button" name="card" value="card">
                            Card Payment
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <!-- <a style="margin-left: 2%; margin-right:2%" (click)="nextStep(stepper)"> -->
    <div *ngIf="payment == 'card'">
        <angular4-paystack
                [key]="'pk_test_a4001231fc6d5b5231443b420683e29495103e00'"
                [email]="this.gs.user.email"
                [amount]="amountDue()"
                [ref]="this.ref"
                [class]="'btn-milestone'"
                (close)="paymentCancel()"
                (callback)="paymentDone($event)"
        >
            <docs-svg-viewer src="../assets/img/place-orders/Make-payment.svg" width="40%"
                             height="40%"></docs-svg-viewer>
        </angular4-paystack>

    </div>
    <div *ngIf=" payment == 'bank'" class="col-md-12" style="margin-top:30px">
        <h3>Bank Details</h3>
        <p>Acc: XXXXXXXXXX</p>
        <p>Bank: YYYY Bank</p>
        <p>Name: Lara </p>
        <p>Send a message to</p>
        <p>E: hello@Lara.ng   or</p>
        <p>T: 090-860000-89 ( Whatsapp)</p>
        <p>with confirmation details for your payment</p>
    </div>
</div>
