.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  background: none;
}

.mat-raised-button[disabled][disabled] {
  background-color: none;
}

.mat-cell {
  color: rgba(171, 164, 164, 0.87);
}

.mat-header-cell {
  font-size: 22px;
}

.table-container {
  box-shadow: none;
}

.table-container .mat-elevation-z8 {
  margin-left: 2%;
  margin-right: 2%
}

/deep/ button.milestone-button {
  //width: 150px;
  // white-space: normal;
  //font-size: 14px;
  //line-height: 20px;

  //background: url('/assets/img/place-orders/Make-payment.svg')
}

/deep/ .btn-milestone {
  background-color: transparent;
  border: none;
  margin-top: 30px;
}

/deep/ button {
  // width: 100px;
  // height: 100px;
  // background-color: red;
  //background: url('/assets/img/place-orders/Make-payment-button.png')
}

.mobile-table {
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  .heading {
    font-weight: bold;
    > span {
      display: inline;
      margin-left: 10px;
      font-weight: normal;
      text-wrap: normal;
      font-size:98%;
      color: #a1a1a1;
    }
  }

}