.example-h2{
    color: rgba(171, 164, 164, 0.87);
}

.icon-green{
color: green;
}

/deep/ div .mat-list .mat-list-item .mat-list-text{
    width: auto;
}

/deep/ .mat-progress-bar{
    height: 15px
}

/deep/ .mat-progress-bar-fill::after {
  background-color: #0a9734;
}

/deep/.mat-progress-bar-buffer {
  background-color: #afaeb1;
}

.example-margin{
    height: 15px;
    color: green;
}

.milestone{
  margin-top: 20px;
  font-weight: 100;
  color: gray;
}
