
<div *ngIf="!this.gs.loggedIn" >
        <h4> Kindly Signup or Login to view the tracking of your orders.</h4>
</div>
    <div *ngIf="this.gs.loggedIn">
    <br/>
    <div *ngIf="this.gs.currentorders" style="text-align: -webkit-right;">
    <qr-code [value]="'http://www.lara.ng/'+this.gs.currentEventName" [size]="150"></qr-code>
    <h3> Download QR Code</h3>
</div>
<div>
    <h1>Track Progress</h1>
    <p style="color: rgba(214, 208, 208, 0.87); margin-top: 20px;">We've received your orders</p>
    <p style="text-align: center;"> Video directions on the way </p>
    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [value]="60"
          [mode]="buffer"
          [color]="primary"
          [bufferValue]="70">
      </mat-progress-bar>
    </section>
</div>
  <div class="content milestone"
  fxLayout="row"
  fxLayout.xs="column"
  fxFlexFill>

<div fxFlex="15" style="margin-top:10px">Ordered</div>
<br/>
  <div fxFlex="25" style="margin-top:10px">hastag, QR code, E-invites ready</div>
  <div fxFlex="45"></div>
  <div fxFlex="15" style="margin-top:10px">Delivering by</div>
</div>

<div class="content milestone"
fxLayout="row"
fxLayout.xs="column"
fxFlexFill>

<div fxFlex="15">{{this.gs.orderCreatedDate | date}}</div>
<br/>
<div fxFlex="25">{{this.gs.orderCreatedDate | date}}</div>
<div fxFlex="45"></div>
<div fxFlex="15" style="color: #17acc5"><h3>{{this.gs.deliveryDate | date}}</h3></div>
</div>
<div><br/><br/><br/></div>
<div>
    <h1>Order Details</h1>
    <br/>
    <mat-list>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_one</mat-icon>
    <h3 matLine> Custom Hashtags & unique directions link </h3>
    <mat-icon *ngIf="true" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_two</mat-icon>
    <h3 matLine> Public transit directions and fare quotes to #{{this.gs.currentEventName}}</h3>
    <mat-icon *ngIf="true" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_3</mat-icon>
    <h3 matLine>Acquire QR Code</h3>
    <mat-icon *ngIf="true" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_4</mat-icon>
    <h3 matLine>RSVP for #{{this.gs.currentEventName}}</h3>
    <mat-icon *ngIf="false" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_5</mat-icon>
    <h3 matLine>Compare and book rides on Ride-Share service to #{{this.gs.currentEventName}}</h3>
    <mat-icon *ngIf="false" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon>looks_6</mat-icon>
    <h3 matLine>Video Guided Tour service (street level) to #{{this.gs.currentEventName}}</h3>
    <mat-icon *ngIf="false" class="icon-green">check_circle</mat-icon>
  </mat-list-item>
</mat-list>

<br/><br/><br/><br/>
</div>
<div>
    <p> Contact Us - 090-8600000-89 or hello@roadpreppers.com </p>
</div>
</div>
