body {
  font-family: "Roboto Condensed Italic","Helvetica Neue Light","Product Sans",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

.docs-button[md-button], .docs-button[md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}

pre {
  // Pre elements won't wrap text by default and can exceed the boundaries of their parent element.
  // This adds extra scroll space when visiting the docs mobile. Pre-wrapping the code examples
  // will ensure that the code never exceeds the page width.
  white-space: pre-wrap;
}

.docs-primary-header {
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}

code {
  font-size: 90%;
}

// These styles are for controlling SVGs without using the /deep/ selector

.docs-component-category-list-card-image svg {
  width: 100%;
}

.docs-footer-angular-logo svg {
  height: 50px;
}

.docs-angular-logo svg {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.docs-github-logo svg {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

