<div style="text-align: -webkit-right;">
    <h4 style="color: deepskyblue;"> Pending Orders</h4>
    <mat-list class="header-list">
        <mat-list-item>
            <h4 matLine> Total: {{this.totalCount}}</h4>
        </mat-list-item>
        <mat-list-item>
            <h4 matLine> Review: {{this.reviewCount}}</h4>
        </mat-list-item>
        <mat-list-item>
            <h4 matLine> In Progress: {{this.progressCount}}</h4>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine> {{this.todayDate | date}}</h3>
        </mat-list-item>
    </mat-list>
    <br/>
</div>
<div>
    <div style="margin-left: 2%; margin-right:2%">
        <h1 style="color: deepskyblue;"> Admin Orders</h1>
        <br/><br/>
    </div>
    <div class="table-container mat-elevation-z8">
            <div class="example-loading-shade"
            *ngIf="dataSource.isLoadingResults">
         <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
       </div>

            <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="eventname" matSortDisableClear matSortDirection="asc">
                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="eventname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Event Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="openOrder(element)"> {{element.eventname}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.addresses[0].address}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Delivery Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" [style.color]="grey"> {{element.dates[0].date | date}} </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="openOrder(element)" [ngClass]="element.status"> {{element.status}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [length]="dataSource.resultsLength" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
        </div>
</div>
<div>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
</div>
