/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }

  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }

  .example-table {
    overflow: auto;
    min-height: 300px;
  }

  /deep/ .mat-header-row, .mat-row{
    min-height: 68px
  }

  /deep/ .mat-header-cell{
    font-size: 18px
  }

  .mat-column-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
  }
.header-list{
  display: inline-block;
}
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .Done{
    color: green
  }

  .Review{
    color: red;
  }

  .Processing{
    color: #17acc5
  }
