@media screen and (max-width: 400px) {
    .admin-order-body-location{ 
      float: none;
      margin-right:0;
      width:auto;
      border:0;   
    }
  }

  .admin-order-body{
      h2{
        text-align: center;
        font-size: 2.2em;
      }
  }
.location-input{
  margin-top: 20%
}
agm-map {
    height: 400px;
    width: 450px;
  }
  
  .le-input{
      min-width: 400px
  }

  .le-input2{
    min-width: 410px
}
  
  .input-control {
    width: 63.33%;
    min-width: 300px;
    padding: 0 1rem;
    margin: 0px
  }
  
  label {
    display: block;
  }

  
  .error{
    color: red;
  }
  

  .admin-order-body-location{
    float:left; 
    margin-right:20px;
    width:500px;
    min-height: 200px;
    margin-left: 100px;
  }
  
  .admin-order-body-map{
    overflow:hidden;
    margin:10px;
    max-height: 300px;
    min-height:200px;
  }
  
  .location-width{
    width: 500px;
  }
  
  .center-width{
    text-align: center;
    display: block;
    width: 300px;
    /* align-self: unset; */
    position: relative;
    margin: 0px auto;
  }
  
  .delivered
    {
      width: 200px;
      min-height: 50px;
      background-color: green;
      font-size: 17px;
      color: white;
  }

  .progress
  {
    width: 200px;
    min-height: 50px;
    background-color: deepskyblue;
    font-size: 17px;
    color: white;
}

.deleteButton
{
  width: 200px;
  min-height: 50px;
  background-color: red;
  font-size: 17px;
  color: white;
}