<h2 mat-dialog-title>Delete Order</h2>
<mat-dialog-content>Are you sure?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
