@mixin home-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-homepage {
    .docs-header-start {
      color: mat-color($primary);
    }

    .docs-homepage-row {
      color: mat-color($foreground, secondary-text);
    }
  }
}

