// The margin between two sections
$margin-promotion-sections: 60px;

.docs-homepage-promo {
  // align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 3rem;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

/deep/ mat-form-field.le-input {

  width: 300px;
}

/deep/ .placeorder-body {
  text-align: center;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

.account {
  align-self: right;
}

.docs-homepage-row {
  display: flex;
  max-width: 1100px;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-row .docs-svg-image {
  max-width: 90%;
}

.docs-homepage-reverse-row {
  flex-direction: row-reverse;
}

.docs-header-start,
.docs-homepage-promo-img,
.docs-homepage-promo-desc {
  width: 80%;
}

.docs-homepage-promo-img {
  text-align: center;
}

.docs-homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}



.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

/deep/ div .mat-steppers-header {
  box-shadow: none;
}

/deep/ div .mat-stepper-number, .mat-stepper-number:active {
  background-color: green;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin: 0 9px;
  line-height: 36px
}

/deep/ div.mat-stepper-number, button.mat-stepper-indicator.mat-active {
  background-color: green
}

/deep/ div.mat-stepper-number::before, .mat-steppers-alternative .mat-steppers-horizontal .mat-stepper-number:after {
  background-color: none;
}

.stepper-header .homepage {
  box-shadow: none;
}

/deep/ div.mat-step-icon, /deep/ div.mat-step-icon-not-touched {
  height: 44px;
  width: 44px;
}

/deep/ .mat-step-header .mat-step-icon {
  background-color: green;
}

.center-block {
  margin:0 auto;
}
