
<div class="docs-homepage-promo">
  <!-- <ngx-stepper class="stepper-header homepage" #stepperDemo="stepper" [options]="options">
  <ngx-step [label]="'Place Order'"> 
    <ngx-step-body> -->
        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step >
      <ng-template matStepLabel>Order Details</ng-template>
   <place-order (orderFinished)="nextStep(stepper)"></place-order>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Milestones</ng-template>
   <!-- </ngx-step-body>
   <ngx-step-actions align="center"> -->
     <!-- <a  (click)="openDialog()">
      <docs-svg-viewer src="../assets/img/place-orders/Place Order.svg" width="40%" height="40%"></docs-svg-viewer>
     </a> -->
      <!-- <a mat-raised-button class="docs-button" (click)="openDialog()">Continue</a> -->
    <!-- </ngx-step-actions>
  </ngx-step> -->

  <!-- <ngx-step [label]="'Milestone & Payments'">
    <ngx-step-body> -->
      <br/><br/>
       <milestones></milestones>
   <!-- </ngx-step-body>
    <ngx-step-actions> -->
     
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Track Progress</ng-template>
    <!-- </ngx-step-actions>
  </ngx-step> 
  <ngx-step [label]="'Track Progress'">
    <ngx-step-body> -->
       <track-progress></track-progress>
   <!-- </ngx-step-body>
     <ngx-step-actions>
      <button mat-button class="md-primary md-raised" (click)="stepper.next()">Complete</button>
      <button mat-button class="md-primary" (click)="stepper.next()">Back</button>
    </ngx-step-actions>
  </ngx-step>
  </ngx-stepper> -->
</mat-step>
</mat-horizontal-stepper>
</div>

