@import '../../app-theme';

// Define the light theme.
$primary: mat-palette($mat-indigo);
//$primary: "#404850";
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
