@mixin material-docs-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  material-docs-app {
    .docs-header-background {
      background: mat-color($primary);
    }

    .docs-header-headline {
      color: mat-color($primary, default-contrast);
    }

    .docs-header-start {
      color: mat-color($primary);
    }

    .docs-homepage-row {
      color: mat-color($foreground, secondary-text);
    }
  }
}
