// The margin between two sections
$margin-promotion-sections: 60px;

// /deep/ .docs-footer{
//   background: #404850;
// }

material-docs-app .docs-header-background {
  background: #404850;
}

.docs-homepage-bottom-start {
  text-align: center;
  margin: $margin-promotion-sections 0;
}

.logo-section {
  position: absolute;
  z-index: 10;
  top: 135px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);

}

.docs-header-toolbar .toolbar-menu {
  background: #404850;
}

.docs-header-headline {
  display: flex
}

.mat-form-field {
  font-family: "Roboto Condensed Regular Italic", "Product Sans";
}

.docs-header-background {
  height: 200px;
  margin-bottom: 40px;
}

// input{
//     -webkit-border-radius: 50px;
// -moz-border-radius: 50px;
// border-radius: 50px;
// text-align: center;
// }

.mat-form-field-placeholder-wrapper {
  text-align: center;
}

.mat-input-element {
  text-align: center;
}

.docs-header-background
.docs-header-section {
  /* text-align: center; */
  padding-top: 20px;
  padding-bottom: 10px;
}

.docs-header-headline {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 46px;
    margin: 10px 0 10px 15px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.docs-header-toolbar {
  float: right;
  color: #fff;
  background: #404850;
}