<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-toolbar">
            <button mat-button [mat-menu-trigger-for]="menu" *ngIf="!this.gs.loggedIn">Account
  <mat-icon *ngIf="!this.gs.loggedIn">keyboard_arrow_down</mat-icon>
</button>
            <button mat-button [mat-menu-trigger-for]="menu" *ngIf="this.gs.loggedIn">{{this.gs.account}}
  <mat-icon *ngIf="this.gs.loggedIn">keyboard_arrow_down</mat-icon>
</button>
        <mat-menu #menu="matMenu" class="account">
            <button *ngIf="this.gs.isAdmin && this.gs.loggedIn" (click)="adminButton()" mat-menu-item>Admin</button>
            <button *ngIf="!this.gs.loggedIn" (click)="openDialog()" mat-menu-item>Sign up</button>
            <button *ngIf="!this.gs.loggedIn" (click)="openLoginDialog()" mat-menu-item>Log In</button>
            <button *ngIf="this.gs.loggedIn && !this.gs.isAdmin" (click)="navButton()" mat-menu-item>My Orders</button>
            <button *ngIf="this.gs.loggedIn" (click)="logout()" mat-menu-item>Log Out</button>
        </mat-menu>

    </div>
    <div *ngIf="this.gs.showLara && this.gs.loggedIn" class="docs-header-button">
        <docs-svg-viewer src="../assets/img/place-orders/PreviewonLara.svg" (click)="openLaraTab(this.gs.currentorder.eventname)" width="50%" height="50%"></docs-svg-viewer>
      </div>
        <div class="docs-header-headline">
            <h1 class="mat-h1">Lara For Events</h1>
            <h2></h2>
        </div>
    </div>
</header>
<div class="logo-section">
    <a href="/"><docs-svg-viewer src="../assets/img/place-orders/Lara logo.svg" width="60%" height="60%"></docs-svg-viewer></a>
</div>
<!-- <alert></alert> -->
<router-outlet></router-outlet>
<app-footer>

</app-footer>
