<mat-list>
        <mat-list-item *ngFor="let item of items">
            <table>
                <tr>
                    <td>
                        <mat-icon mat-list-icon>looks_{{item.number}}</mat-icon>
                    </td>
                    <td style="width: 70%">
                        <h3 matLine> {{item.name}} - Order {{item.id}}</h3>
                    </td>
                    <td></td>
                    <td >
                        <a mat-raised-button class="order-button" (click)="this.viewSummary(item.id)">View Summary</a>
                    </td>
                </tr>
            </table>
        </mat-list-item>
    </mat-list>
