.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.mat-list-item{
margin-left: 5%;
margin-bottom: 10px;
color: gray;
}

table{
  width: 80%;
  display: table;
}

.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.mat-tab-label, .mat-tab-link {
  color: rgba(0,0,0,.87);
}

.mat-ripple {
  overflow: hidden;
}

.mat-tab-label, .mat-tab-link {
  font-size: 14px;
  font-weight: 500;
}

a {
  text-decoration: none;
  margin-right: 40px;
  color: gray;
  font-weight: 200;
}

.orders-header{
  margin-left: 80px;
  margin-top: 40px
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid gray;
  margin: 1em 0;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}

.orders-body{
  margin-left: 100px;
  margin-right: 100px;
  color: gray;
}

/deep/ .order-button{
  border: 2px solid #17acc5;
  color: black;
}
