 <nav class="orders-header">
    <a  [routerLink]="['current']">Current Orders</a>
    <a  [routerLink]="['past']">Past Orders</a>
</nav>
<hr/>
<div class="orders-body">
<router-outlet></router-outlet>
</div>