<mat-list>
    <mat-list-item *ngFor="let item of items">
        <table>
            <tr>
                <td>
                    <mat-icon mat-list-icon>looks_{{item.number}}</mat-icon>
                </td>
                <td style="width: 70%">
                    <h3 matLine> {{item.name}} - Order {{item.id}}</h3>
                </td>
                <td>
                    <a mat-raised-button class="order-button" [disabled]="true" routerLink=".">View Reports</a>
                </td>
                <td >
                    <a mat-raised-button class="order-button" (click)="renavigate()" routerLink=".">Re-order</a>
                </td>
            </tr>
        </table>
    </mat-list-item>
</mat-list>
