@import '../node_modules/@angular/material/theming';

@import './app/pages/homepage/homepage-theme';
@import './app/shared/footer/footer-theme';
@import './app/shared/table-of-contents/table-of-contents-theme';
@import './styles/api-theme';
@import './styles/markdown-theme';
@import './styles/svg-theme';
@import './styles/tables-theme';


// Styles for the docs app that are based on the current theme.
@mixin material-docs-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .docs-app-background {
    background: mat-color($background, background);
  }

  .docs-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  material-docs-app {
    .docs-header-background {
      background: mat-color($primary);
    }

    .docs-header-headline {
      color: mat-color($primary, default-contrast);
    }

    .docs-header-start {
      color: mat-color($primary);
    }

    .docs-homepage-row {
      color: mat-color($foreground, secondary-text);
    }
  }
  
  @include docs-site-api-theme($theme);
  @include docs-site-markdown-theme($theme);
  @include docs-site-svg-theme($theme);
  @include docs-site-tables-theme($theme);
  @include footer-theme($theme);
  @include home-page-theme($theme);
  @include table-of-contents-theme($theme);
}
