<footer class="docs-footer">
  <div class="docs-footer-list">

    <div class="docs-footer-copyright">
      <p>Copyright 2017 RoadPreppers. All Rights Reserved.</p>
<!--
    <button md-raised-button shareButton="facebook"><i class="fa fa-facebook"></i></button>
    <button md-raised-button shareButton="twitter"><i class="fa fa-twitter"></i></button> -->
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_follow_toolbox"></div>
    <div class="docs-footer-links">
      <ul>
        <!-- <li><img class="docs-footer-angular-logo"
        src="../../../assets/img/homepage/angular-white-transparent.svg"
        alt="angular"> </li> -->

      </ul>
    </div>

  </div>
</footer>
